.game-board {
  position: relative;
  max-width: 80vw;
  border: solid 1px black;
  max-height: 60vh;
  aspect-ratio: 1 / 1;
  margin: 3em auto auto;

  .game-row {
    display: flex;
  }

  .game-river {
    .game-cell:first-child {
      border-left: solid 0.5px black;
    }

    .game-cell:last-child {
      border-right: solid 0.5px black;
    }

    .game-cell {
      border: none;
    }
  }

  .game-cell {
    margin: 0;
    display: inline-block;
    width: 12.5%;
    border: solid 0.5px black;
    aspect-ratio: 1 /1;
  }

  .diagonal-line {
    width: calc(100% * 1.41);
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    transform-origin: left;
  }
  .back-diagonal-line {
    width: calc(100% * 1.41);
    border-bottom: 1px solid black;
    transform: translateX(-29%) rotate(-45deg);
    transform-origin: right;
  }

  .chess-man {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5%;
    left: -5%;
    width: 10%;
    border: solid 1px black;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: whitesmoke;
    cursor: pointer;
    font-weight: bold;
  }

  .empty-chess-man {
    position: absolute;
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
  }
  .empty-chess-man:hover {
    border: solid 1px black;
    border-radius: 50%;
    background: whitesmoke;
    opacity: 90%;
  }

  .red-chess-man {
    color: red;
  }
  .black-chess-man {
    color: black;
  }

  .clicked-chess-man {
    background: yellow;
  }

  .able-position {
    position: absolute;
    width: 2%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: red;
    pointer-events: none;
  }
}

.action-bar {
  max-width: 80vw;
  width: 30em;
  margin: 2em auto auto;
  display: flex;
  justify-content: space-between;
}
